// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


    .pagination {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .page-item {
        list-style: none;
        margin: 0 5px;
    }

    .page-link {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }

    .page-link:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        color: #fff;
    }

    .page-item.active .page-link {
        background-color: #0056b3;
        border-color: #0056b3;
        color: #fff;
    }

    .page-item.disabled .page-link {
        background-color: #f8f9fa;
        border-color: #dee2e6;
        color: #868e96;
    }

